<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update post</h1>
    <form action="/post/<%= post._id %>" method="POST">
        <input type="text" name="title" id="title" value="<%=post.title%>" placeholder="Enter your title">
        <input type="text" name="desc" id="description" value="<%=post.desc%>" placeholder="Enter your description">
        <input type="submit" value="Submit">
    </form>

</body>
</html>